{% extends "layout.html" %}  <!--Inherits the HTML template from layout.html-->
{% block content %}  <!--Block content starts the body of the HTML-->
<div class="container-fluid">
    <div class="row p-4 vh-100">
        <div class="col-md-auto col-lg-6 align-content-center my-auto p-3">
            <div class="container">
                <div class="row">
                    <h1>Responsibly Examine Data with FairView</h1>
                </div>
                <div class="row my-4">
                    <p>FairView is a project run by a group of enthusiastic college students offering a tool to help ML Practitioners and Data Researchers to gain deeper insights into their demographic metadata and realize possible bias/unfairness. </p>
                </div>
                <div class="row">
                    <div class="container">
                        <a href="{{ url_for('upload') }}">
                            <button type="button" class="btn btn-primary btn-fairview">Try it out</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col col-sm-12 col-md-auto col-lg-6 my-auto px-0">
            <img src="/static/images/undraw_Data_re_80ws.png" class="img-fluid">
        </div>
    </div>
    <div class="row p-4 ">
        <div class="col-md-auto col-lg-6 align-content-center px-3">
            <img src="/static/images/undraw file cropped.png" class="img-fluid">
        </div>
        <div class="col col-sm-12 col-md-auto col-lg-6 my-auto p-4">
            <p>WE BEGAN WITH THE QUESTION:</p>
            <h1>Why does underlying bias in metadata matter?</h1>
            <p>Especially in Machine Learning, the problem mainly doesn’t lie in the accuracy of the algorithms but rather in the quality of the training data that developers take in to develop the system. In fact, the data these algorithms rely on reflect underlying biases around race, gender, age, and other factors. When trained on biased data, ML algorithms reflect and perpetuate these biases. “Garbage in, Garbage out”.</p>
        </div>
    </div>
    <div class="row p-4">
        <div class="row justify-content-center my-4">
            <div class="col text-center">
                <h1>Explore our Practices</h1>
            </div>
            <div class="col text-center">
                <a href="{{ url_for('practices') }}">
                    <button type="button" class="btn btn-primary btn-fairview">
                        See More 
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="13" y1="18" x2="19" y2="12" />
                        <line x1="13" y1="6" x2="19" y2="12" />
                        </svg>
                    </button>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div id="carouselExampleCaptions" class="carousel slide carousel-dark" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="/static/images/practice_1.png" class="active d-block" alt="...">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <p>1. Plan for high-quality data from the beginning</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="/static/images/practice_2.png" class="d-block" alt="...">
                         </div>
                        <div class="carousel-caption d-none d-md-block">
                            <p>2. Translate user needs into data needs</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                        <img src="/static/images/practice_3.png" class="d-block" alt="..."></div>
                        <div class="carousel-caption d-none d-md-block">
                            <p>3. Source your data responsibly</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                        <img src="/static/images/practice_4.png" class="d-block" alt="..."></div>
                        <div class="carousel-caption d-none d-md-block">
                            <p>4. Prepare and document your data</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                        <img src="/static/images/practice_5.png" class="d-block" alt="..."></div>
                        <div class="carousel-caption d-none d-md-block">
                            <p>5. Design for labelers and labeling</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                        <img src="/static/images/practice_6.png" class="d-block" alt="..."></div>
                        <div class="carousel-caption d-none d-md-block">
                            <p>6. Tune your model</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="col col-sm-12 col-md-auto col-lg-6 my-auto px-0">
            <img src="/static/images/undraw_Metrics_cropped.png" class="img-fluid">
        </div>
        <div class="col-md-auto col-lg-6 align-content-center my-auto p-3">
            <div class="container">
                <div class="row">
                    <h1>Examine Your Metadata</h1>
                </div>
                <div class="row my-4">
                    <p>
                        With our tool, you would be able to see the distribution of your metadata’s available demographic attributes, for example age, race, education, income, etc. We would also help you uncover several common issues such as the most and least dominant feature values, missing values for a large number of observations. 
                    </p>
                </div>
                <div class="row">
                    <div class="container">
                        <a href="{{ url_for('upload') }}">
                            <button type="button" class="btn btn-primary btn-fairview">
                            Try it out 
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="5" y1="12" x2="19" y2="12" />
                                <line x1="13" y1="18" x2="19" y2="12" />
                                <line x1="13" y1="6" x2="19" y2="12" />
                                </svg>
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row p-4 home-case-studies py-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row pb-3">
                    <div class="col-md-8">
                        <h1 class="mb-3">Case Studies</h1>
                        <p>We believe sharing comprehensible and easily accessible information can help bring awareness and understanding to how to apply these practices in your ML algorithmic bias detection and mitigation. </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for study in studies %}
                    <div class="col text-center justify-content-center">
                        <div class="card home-card-study h-100" style="width: 18rem;">
                            <img src="{{ study.image_url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <small class="text-muted">ARTICLE</small>
                                <h5 class="card-title my-2">{{ study.topic }}</h5>
                                <p class="card-text">{{ study.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-4">
                    <div class="container">
                        <a href="{{ url_for('case_studies') }}">
                            <button type="button" class="btn btn-outline-fairview">
                            View All 
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0D00A4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="5" y1="12" x2="19" y2="12" />
                                <line x1="13" y1="18" x2="19" y2="12" />
                                <line x1="13" y1="6" x2="19" y2="12" />
                                </svg>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
