{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row p-4">
        <div class="col-md-auto col-lg-6 align-content-center my-auto p-3">
             <h1>Discover Case Studies</h1>
        </div>
        <div class="col col-sm-12 col-md-auto col-lg-6 my-auto px-0">
            <p>Looking for a specific case study of your domain? Explore our thoughtfully curated selections and find your one of a kind case study below.</p>
        </div>
    </div>
    <div class="row p-4">
        <div class="col">
            <form method="POST" action="/case-studies">
                    <table class="table">
                        <tbody>
                    {{ form.hidden_tag() }}
                        <tr>
                            <td>
                                {{ form.search.label(class="form-control-label") }}
                                {{ form.search(class="form-control form-control-lg") }}
                            </td>
                            <td>
                                {{ form.submit(class="btn btn-outline-info") }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form> 
        </div>
    </div>
    <div class="row p-4">
        <div class="col">
            <b>Tags:</b>
            <ul class="tag-list">
                {% for tag in tags %}
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('case_studies', tag=tag.name) }}">
                    <button type="button" class="btn btn-outline-primary">{{ tag.name }}</button>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for study in studies %}
            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                    <img src="{{ study.image_url }}" class="card-img-top" alt="{{ study.topic }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ study.topic }}</h5>
                        <p class="card-text">{{ study.description }}</p>
                        <p>
                            <a href="{{ study.external_url}}" class="card-link">
                                <button type="button" class="btn btn-outline-primary">
                                Learn More
                                </button>
                            </a>
                            <div class="study-bookmark">
                            {% if current_user.is_authenticated %}
                                {% if study in current_user.bookmarks %}
                                    <a href="{{ url_for('new_bookmark', study=study.id) }}" class="card-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-off" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0D00A4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <line x1="3" y1="3" x2="21" y2="21" />
                                        <path d="M17 17v3l-5 -3l-5 3v-13m1.178 -2.818c.252 -.113 .53 -.176 .822 -.176h6a2 2 0 0 1 2 2v7" />
                                        </svg>
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('new_bookmark', study=study.id) }}" class="card-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0D00A4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
                                        </svg>
                                    </a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </a>
                        </div>
                        </p>
                        <div class="row">
                            <div class="col m-2">
                                {% for tag in study.tags %}
                                    <span class="text-white badge rounded-pill bg-primary">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content%}