@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  background: #f3f7f6;
  color: #333333;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #0D00A4;
  font-size: 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #140152;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


.study-bookmark {
  position: absolute;
  top: 0;
  right: 0;
}


/* Custom Button Styling */

.btn-fairview {
  background-color: #0D00A4;
  color: #ffffff;
  border-color: #0D00A4;
}

.btn-fairview:hover,
.btn-fairview:active,
.btn-fairview:focus,
.btn-fairview.active {
  background: #140152;
  color: #ffffff;
  border-color: #140152;
}

.btn-outline-fairview{
  border-color: #0D00A4;
  color: #0D00A4;
  background-color: #ffffff;
}

.btn-outline-fairview:hover,
.btn-outline-fairview:active,
.btn-outline-fairview:focus,
.btn-outline-fairview.active {
  background: #0D00A4;
  color: #ffffff;
  border-color: #0D00A4;
}

.btn-outline-fairview:hover svg,
.btn-outline-fairview:active svg,
.btn-outline-fairview:focus svg,
.btn-outline-fairview.active svg {
  stroke: #ffffff;
}

.home-card-study p {
  font-size: .85em;
}

.home-case-studies {
  background-color: #E7ECEF;
}

.page-container{
  position:relative;
  min-height: 100vh;
}

#content-wrap {
  min-height: 100%;
  height: auto!important;
  height: 100%;
  padding-bottom:8rem;
  /* Footer height */
}

.nav-footer {
  position: static;
  width: 100%;
  padding: 45px 0 15px 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

#menu-outer {
  height: 84px;
}

.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  /* min-width: 696px; */
  list-style: none;
}

ul#horizontal-list li {
  display: inline;
}

ul#horizontal-list li a {
  text-decoration: none;
}

.navbar-fairview {
  height: 60px;
  left: 0px;
  top: 0px;
  background: #FCFCFC;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.tag-list {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.tag-list li {
  display: inline;
  padding: 0;
  margin:0;
}

/* CSS section for Analyze Dataset Page */

/* Class to add a margin to the top */
.top-buffer {
    margin-top: 7rem;
}

.analyze-h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 80px;
    letter-spacing: -0.015em;
    color: black;
}

.analyze-h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: black;
}

.analyze-body1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 30px;
    letter-spacing: -0.01em;
}

.analyze-body2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 30px;
    letter-spacing: -0.01em;
}

.analyze-square {
    width: 942px;
    height: 548px;
    border: 1px solid rgba(22, 22, 22, 0.5);
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.image-upload>input {
    display: none;
}

/* CSS section for Analyze Dataset Page End*/

