@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  background: #ffffff;
  color: #333333;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


.study-bookmark {
  position: absolute;
  top: 0;
  right: 0;
}


/* Custom Button Styling */

.btn-fairview {
  background-color: #0D00A4;
  color: #ffffff;
  border-color: #0D00A4;
}

.btn-fairview:hover,
.btn-fairview:active,
.btn-fairview:focus,
.btn-fairview.active {
  background: #140152;
  color: #ffffff;
  border-color: #140152;
}

.btn-outline-fairview{
  border-color: #0D00A4;
  color: #0D00A4;
}

.btn-outline-fairview:hover,
.btn-outline-fairview:active,
.btn-outline-fairview:focus,
.btn-outline-fairview.active {
  background: #0D00A4;
  color: #ffffff;
  border-color: #0D00A4;
}

.btn-outline-fairview:hover svg,
.btn-outline-fairview:active svg,
.btn-outline-fairview:focus svg,
.btn-outline-fairview.active svg {
  stroke: #ffffff;
}


@media (max-width: 768px) {
  .card-carousel-inner .card-carousel-item>div {
    display: none;
  }

  .card-carousel-inner .card-carousel-item>div:first-child {
    display: block;
  }
}

.card-carousel-inner .card-carousel-item.active,
.card-carousel-inner .card-carousel-item-next,
.card-carousel-inner .card-carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {

  .card-carousel-inner .card-carousel-item-right.active,
  .card-carousel-inner .card-carousel-item-next {
    transform: translateX(33.333%);
  }

  .card-carousel-inner .card-carousel-item-left.active,
  .card-carousel-inner .card-carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.card-carousel-inner .card-carousel-item-right,
.card-carousel-inner .card-carousel-item-left {
  transform: translateX(0);
}
